@import "../../../../styles/_styles.scss";

.main-container {
  @include flexCenter(column);
  width: 100%;

  .head {
    @include flexCenter(row, 0.75rem);
    justify-content: flex-start;
    width: 100%;

    span {
      color: var(--primary-color);
    }
  }

  p {
    font-size: small;
    opacity: 0.8;
    width: 100%;
    margin: 0;
    margin-top: 0.75rem;
  }
}
