@import "../../../styles/_mixin.scss";

.messagebox-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding: 24px 16px;
  width: 320px;
  border: 1px solid currentColor;
  border-radius: var(--border-radius);
  text-align: left;
  transform-origin: bottom;
  transform-style: flat;

  @include mobile {
    width: 100%;
  }
}

.icon {
  margin-right: 12px;
}

.heading {
  display: block;
  margin: 0 0 4px;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
}

.content p {
  margin: 0 0 8px;
}

.content p:last-of-type {
  margin-bottom: 0;
}

.body-text {
  color: #333333;
  font-size: 14px;
}

.close-button {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 18px;
  color: #333333;
  cursor: pointer;
  user-select: none;
}

.error {
  color: var(--error-color);
  background: #fff4f4;
  box-shadow: 0px 4px 10px rgba(218, 16, 11, 0.2);
}

.info {
  color: var(--info-color);
  background: #f3f8ff;
  box-shadow: 0px 4px 10px rgba(50, 129, 255, 0.2);
}

.warning {
  color: var(--warning-color);
  background: #fff7ee;
  box-shadow: 0px 4px 10px rgba(255, 145, 8, 0.2);
}

.success {
  color: var(--success-color);
  background: #f4fff9;
  box-shadow: 0px 4px 10px rgba(27, 165, 81, 0.2);
}

.sliding-in {
  animation: sliding-in-animation 200ms ease-in-out 0s 1 forwards;
}

.fading-out {
  animation: fading-out-animation 5s linear 0s 1 forwards;
}

.fading-out:hover {
  animation: none;
}

.replay-message {
  position: relative;
}

.replay-message:not(.fading-out)::after,
.replay-message.sliding-in::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  animation: replay-message 2s ease-in-out 0s 1 forwards;
  content: "";
  z-index: -1;
}

@keyframes sliding-in-animation {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fading-out-animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes replay-message {
  0% {
    box-shadow: 0 0 0 0 currentColor;
  }

  50% {
    box-shadow: 0 0 0 8px rgba(255, 82, 82, 0);
  }

  100% {
    box-shadow: inherit;
  }
}
