.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.main-container[data-is-horizontal="true"] {
  flex-direction: row;
}

.main-container[data-is-icon-first="true"] span {
  order: 2;
}

.main-container[data-is-icon-first="true"] span.icon {
  order: 1;
}
