.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 32px;
  bottom: 0px;
  transform: translate(0px, -50%);
}

.main-container span {
  width: 3px;
  background-color: gray;
  animation: scaleBounce 1s infinite ease-in-out;
  transform-origin: bottom;
  border-radius: 2px;
}

.main-container span:nth-child(1) {
  animation-delay: 0s;
}
.main-container span:nth-child(2) {
  animation-delay: 0.1s;
}
.main-container span:nth-child(3) {
  animation-delay: 0.2s;
}
.main-container span:nth-child(4) {
  animation-delay: 0.3s;
}
.main-container span:nth-child(5) {
  animation-delay: 0.4s;
}

@keyframes scaleBounce {
  0%,
  100% {
    height: 20%;
  }
  50% {
    height: 100%;
  }
}
