@import "../../../../styles/_mixin.scss";

.main-container {
  @include flexCenter(column, 4rem);
  @include fadeUpAnimation();
  padding: 2rem;
  width: 100%;

  @include mobile {
    padding: 1rem;
  }
}

.close-container {
  margin-left: auto;
}

.core-container {
  @include flexCenter(column, 4rem);
  width: 500px;
  max-width: 100%;
}

.referral-info-container {
  @include flexCenter(column, 1rem);
  width: 100%;
  border-radius: var(--border-radius-big);
}

.qrcode-container {
  @include flexCenter(column);

  img {
    width: 256px;
    aspect-ratio: 1;
  }
}

.link-container {
  @include flexCenter(column, 0.5rem);
  width: 100%;

  section {
    @include flexCenter(row);
  }
}

.link {
  max-width: 256px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  background-color: var(--light-background);
  border-radius: var(--border-radius);
  padding: 0.4rem;
  border: 1px solid gray;
}

.cta-button {
  padding: 0;
  padding-left: 0.5rem;
  width: 90px;
}

.label {
  @include labelStyle();
}

.performance {
  width: 100%;
  @include flexCenter(column, 1rem);
}

.visits {
  @include rfont(small);
  color: var(--primary-color);
}

.purchases {
  @include flexCenter(column);
  width: 100%;
  border: 1px solid black;
}

.no-purchase {
  @include flexCenter();
  @include rfont(small);
  height: 36px;
}

.purchase-container {
  @include rfont(small);
  width: 100%;
  height: 36px;
  background-color: white;

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;

  &:nth-child(even) {
    background-color: var(--light-background);
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    padding: 0.25rem;

    &:first-child {
      text-align: left;
    }
  }

  &.title-container {
    border-bottom: 1px solid gray;

    span {
      font-weight: bold;
      color: var(--google-meet-gray);
    }
  }
}

.message {
  @include rfont(small);
  color: var(--primary-color);
}

.payment-container {
  @include flexCenter(column, 1rem);
  margin-top: 4rem;

  section {
    @include flexCenter(row, 0.5rem);

    label {
      @include labelStyle();
    }
  }
}
