@import "../../styles/_mixin.scss";

.main-container {
  @include flexCenter(column, 4rem);
  @include fadeUpAnimation();
  overflow-y: auto;
  padding: 2rem;

  @include mobile {
    padding: 1rem;
  }
}

.core-container {
  @include flexCenter(column, 1rem);
  width: 750px;
  max-width: 100%;
  margin: auto;
  align-items: flex-start;
}

.success {
  color: var(--primary-color);
}

.close-container {
  margin-left: auto;
}

.buttons {
  @include buttonPanel();
}

.message-container {
  @include flexCenter(column, 2rem);
  width: 100%;
}
