.menu-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: var(--border-radius);
  overflow: hidden;
  z-index: 99;
}
