@import "../../styles/_styles.scss";

.color-picker {
  @include flexCenter(column, 0.5rem);
  position: relative;
  align-items: flex-start;
  width: 100%;
}

.label {
  font-size: small;
}

.palette {
  @include flexCenter();
  flex-wrap: wrap;
  border-radius: var(--border-radius);
  border: 1px solid black;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  height: 30px;
}

.color {
  position: relative;
  flex-grow: 1;
  height: 100%;
  cursor: pointer;

  span {
    @include flexCenter();
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
  }

  &.white span {
    color: black;
  }
}

.custom-color {
  @include flexCenter();
  border-left: 1px solid black;
  padding-inline: 4px;
  height: 100%;
}

.color-picker__popover {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  box-shadow: 0 0 4px 0 var(--light-gray-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  z-index: 2;
}

.color-picker__popover .close-botton {
  position: absolute;
  z-index: 10;
  right: 5px;
  padding: 2px;
  font-size: 20px;
}

.color-picker :global(.material-picker) {
  width: 150px !important;
  height: auto !important;
}

.color-picker :global(.material-picker) input {
  font-size: small !important;
}
