.button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px !important;
  border-radius: 8px;
  gap: 8px;
  background-color: white;
  color: black;
  font-size: large;
  text-decoration: none;
  box-shadow: 0 0 4px var(--primary-color);
  cursor: pointer;
  width: fit-content;
  font-size: medium;
}

.button:hover {
  background-color: white !important;
  color: var(--primary-color) !important;
  box-shadow: 0 0 8px var(--primary-color) !important;
  transition-property: box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}
