@import "../../styles/_devices.scss";

.overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.55);
  pointer-events: none;
  z-index: 5;

  .close {
    display: none;
  }

  &:not(.responsive) {
    @include mobile {
      background-color: white;

      .close {
        display: block;
        margin-left: auto;
        text-align: right;
        padding-right: 1rem;
      }
    }
  }
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}
