@import "../../styles/_styles.scss";

.main-container {
  @include flexCenter(column, 1rem);
  height: 100%;
  width: 100%;
}

.spin-container {
  animation: spin 1.5s linear infinite;
  transform-origin: center center;
  color: gray;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
