.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}

.policy-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.policy {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 10px;
}

.policy:last-of-type {
  margin-bottom: 0;
}

.policy-icon {
  display: inline-flex;
  margin-right: 6px;
  color: #feb72d;
  font-size: 20px;
}

.policy-icon--valid {
  color: var(--landing-page-blue-color);
}
