@import "../../../../styles/_styles.scss";

.main-container {
  @include flexCenter();
  justify-content: space-between;
  width: 100%;
  height: var(--navbar-height);
  padding: 0px;
  background-color: var(--navbar-background-color);
}
