@import "../../styles/_mixin.scss";

.main-container {
  @include flexCenter(column, 4px);
  align-items: flex-start;
  width: 100%;

  &.horizontal {
    @include flexCenter(row, 4px);

    @include belowDesktop {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .input-container {
    width: 100%;
    position: relative;
  }

  label {
    @include labelStyle();

    @include mobile {
      @include leftPadding();
    }
  }

  input {
    @include inputEntry();
  }

  &.focused label {
    opacity: 1;
    font-weight: bold;
  }

  &.horizontal.focused label {
    font-weight: normal;

    @include mobile {
      font-weight: bold;
    }
  }
}

.main-container.checkbox {
  flex-direction: row-reverse;
  align-items: center;
  gap: 3px;

  input {
    height: 12px;
    width: 12px;
    accent-color: var(--primary-color);
  }

  input:focus {
    box-shadow: none;
  }

  label {
    opacity: 1;
  }
}

.button {
  border: none;
  position: absolute;
  right: 8px;
  top: 50%;
  padding: 0;
  transform: translateY(-50%);
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: #555555;
  font-size: 20px;
}

.button:hover {
  color: black;
}

.input-container input[type="date"] {
  cursor: pointer;
}

.ripple {
  @include ripple();
  border-radius: var(--border-radius);
}
