@import "../../../../styles/_mixin.scss";

.main-container {
  @include flexCenter(column, 2rem);
  width: 100%;
}

.background-color-container {
  @include flexCenter(column, 0.75rem);
  width: 100%;
}

.resize-container {
  @include flexCenter(column, 1rem);
  width: 100%;
}

.resize-slider {
  @include flexCenter(row, 1rem);
  justify-content: space-between;
  width: 100%;

  section {
    @include flexCenter(row, 8px);
  }

  .slider {
    color: var(--primary-color);
    accent-color: var(--primary-color);
    cursor: pointer;
  }
}

.scan-to-check-message {
  @include flexCenter(row, 0.5rem);
  visibility: hidden;
  display: none;

  &.visible {
    opacity: 0.75 !important;
    visibility: visible;
    display: flex;
    @include fadeUpAnimation(-32px);
  }

  span:first-child {
    font-size: 36px;
  }

  span:last-child {
    @include rfont(small);
  }
}
