@import "../../../../styles/_mixin.scss";

.main-container {
  @include flexCenter(column, 2rem);
  width: 100%;
}

.info {
  @include labelStyle(1);
  color: var(--primary-color);
}

.buttons {
  @include buttonPanel();
}
