@import "../../../styles/_mixin.scss";
@import "../styles/_campaignStyles.scss";

.main-container {
  @include parent-container();

  &.more-space {
    width: fit-content;

    @include mobile {
      width: 100%;
    }
  }
}

.qr-code-image {
  width: 256px;
}

.buttons {
  @include buttonPanel();
  width: 100%;
}

.image-container {
  @include flexCenter();
  position: relative;

  .moving-bar {
    @include movingBar();
  }
}
