@import "../../../styles/_mixin.scss";

.main-container {
  @include flexCenter(column, 1.5rem);
  width: 100%;
  padding: 0.5rem;
  background-color: var(--light-background);
  border-radius: var(--border-radius);
  border: 1px solid transparent;

  &.active {
    background-color: transparent;
    border-color: gray;
  }
}

.switch-container {
  @include flexCenter(row, 1rem);

  > span:first-child {
    @include labelStyle();
  }
}

.details-container {
  @include flexCenter(column, 0.5rem);
  @include fadeUpAnimation();
}

.chechboxes-container {
  @include flexCenter(row, 1rem);
  flex-wrap: wrap;

  @include mobile {
    gap: 0.5rem;
  }
}

.tip {
  @include labelStyle(1);
  color: var(--primary-color);
}

.input-checkbox {
  width: fit-content;

  label {
    padding: 0;
    white-space: nowrap;
  }

  input {
    cursor: pointer;
  }
}
