@import "../../../styles/_mixin.scss";
@import "../styles/_campaignStyles.scss";

.main-container {
  @include parent-container();
  width: 512px;
}

.link-container {
  position: relative;
  @include flexCenter(row);
  width: 100%;
  align-items: first baseline;
}

.cta-button {
  position: absolute;
  right: 0;
  padding: 0;
  padding-bottom: 0.75rem;
  font-size: small;
}

.input-box {
  input {
    padding: 0.5rem;
  }

  &.no-editable input {
    background-color: var(--light-background);
    pointer-events: none;
    color: var(--google-meet-light-gray);
  }
}

.qrcode-container {
  @include flexCenter(row);
  width: 100%;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
  }

  img {
    width: 256px;
    aspect-ratio: 1;
  }
}

.data-collection {
  width: 100%;
  margin-block: 1rem;

  div[class*="switch-container"] {
    width: 100%;
    justify-content: space-between;
  }
}

.buttons {
  @include buttonPanel(0);
}

.archive-container {
  @include flexCenter(row, 4px);
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;

  > span {
    @include labelStyle();
  }
}

.info {
  @include labelStyle(1);
  color: var(--primary-color);
}

.confirm-container {
  @include flexCenter(column, 1rem);
}
