@import "../../../styles/_mixin.scss";
@import "../styles/_campaignStyles.scss";

.main-container {
  @include parent-container();
}

.campaigns {
  @include flexCenter(column);
  width: 100%;
}

.empty-container {
  @include flexCenter(column);
  margin-top: 2rem;

  img {
    width: 256px;
  }

  @include mobile {
    img {
      width: 196px;
    }
  }
}

.campaign-container {
  @include rfont(small);
  border-bottom: 1px solid gray;
  width: 100%;
  height: 36px;
  background-color: white;

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 0.75fr 50px 75px 75px 50px;
  gap: 0.5rem;

  @include mobile {
    grid-template-columns: 1fr 50px 75px 50px;

    .date,
    .visits {
      display: none;
    }
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-size: small;
  }

  .name {
    text-align: left;
  }

  &.title-container span {
    font-weight: bold;
    color: var(--google-meet-gray);
  }

  button {
    padding: 0;
  }
}

.danger {
  color: var(--primary-color) !important;
}
