@import "../../../styles/_mixin.scss";
@import "../styles/_campaignStyles.scss";

.main-container {
  @include parent-container();
}

.campaigns {
  @include flexCenter(column);
  width: 100%;
}

.empty-container {
  @include flexCenter(column);

  img {
    width: 256px;
  }
}

.campaign-container {
  @include rfont(small);
  border-bottom: 1px solid gray;
  width: 100%;
  height: 36px;
  background-color: white;

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 75px 75px 50px;
  gap: 0.5rem;

  @include mobile {
    grid-template-columns: 1fr 1fr 1fr 75px 50px;

    .date {
      display: none;
    }
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }

  &.title-container span {
    font-weight: bold;
    color: var(--google-meet-gray);
  }

  button {
    padding: 0;
  }
}

.danger {
  color: var(--primary-color) !important;
}
