@import "../../../styles/_styles.scss";

.main-container {
  @include flexCenter(column, 2rem);
  width: 100%;
}

.info {
  @include labelStyle(1);
  color: var(--primary-color);
}

.buttons {
  @include buttonPanel();
  justify-content: space-between;
  width: 100%;

  section {
    @include buttonPanel(0);
    width: fit-content;
  }
}

.link-container {
  position: relative;
  @include flexCenter(row);
  width: 100%;
  align-items: first baseline;
}

.test-button {
  position: absolute;
  right: 0;
  padding: 0;
  padding-bottom: 0.5rem;
  font-size: small;
}
