@import "../styles/_campaignStyles.scss";

.main-container {
  @include flexCenter(column, 1rem);

  height: 100%;
  width: 500px;
  max-width: 100%;
  margin: auto;

  @include mobile {
    padding: 1rem;
  }

  p {
    line-height: 1.5rem;
    color: var(--robot-black-color);
    margin-bottom: 2rem;
  }
}

.qr-code {
  font-size: 164px;
  color: var(--primary-color);
}
