@import "../styles/_campaignStyles.scss";

.main-container {
  position: relative;
  @include flexCenter(column, 2em);
  padding: 2rem;
  width: 100%;
  min-height: 100vh;

  @include mobile {
    padding: 1rem;
  }

  p {
    line-height: 1.5rem;
    color: var(--robot-black-color);
    margin-bottom: 2rem;
    width: 500px;
    max-width: 100%;
    text-align: center;
  }
}

.qr-code {
  font-size: 164px;
  color: var(--primary-color);
  margin-bottom: -1rem;
}

.close-container {
  position: absolute;
  right: 2rem;
  top: 2rem;
}
