name: Deploy Production Backend

# This workflow can be called manually or from another workflow
on:
  workflow_dispatch:
  workflow_call:

concurrency:
  group: deploy-production-backend
  cancel-in-progress: false # here, we don't want to cancel in-progress workflows or we risk terminating a deployment while it's midway through

permissions:
  id-token: write # This is required for the AWS auth
  contents: write # This is required to commit config changes back to the repo

jobs:
  deploy-backend:
    runs-on: ubuntu-latest
    environment: production
    defaults:
      run:
        working-directory: backend
    steps:
      - name: Checkout The Repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }} # The repo needs to be checked out with an admin personal access token in order to push to the repo without a pr

      - name: Setup NodeJS Environment
        uses: actions/setup-node@v4
        with:
          cache: "npm"

      - name: Cache Node Modules
        id: cache-npm-be
        uses: actions/cache@v4
        env:
          cache-name: production-be-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-$${{ hashFiles('./backend/**/package-lock.json')}}

      - name: Install NPM Dependencies And Sub-Dependencies
        run: |
          npm install
          npm run install-all

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_DEPLOY_ROLE_ARN }}
          aws-region: ${{ vars.AWS_CDK_REGION }}

      - name: Deploy Backend
        run: npm run deploy-production-ci

      - name: Update Frontend Config
        run: cd ../frontend && node ./config/copyConfig.js production

      - name: Commit Frontend Config Changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          branch: main
          commit_message: Updates frontend config for production environment.
  notify-deployment-success:
    if: github.event_name == 'workflow_dispatch' && success()
    name: Notify Success In Slack
    needs: deploy-backend
    uses: ./.github/workflows/notify-slack.yml
    with:
      env-name: production
      message: "[Production Backend Deployment] Successful"
      job-status: "success"
      emoji: ":party-parrot:"
    secrets: inherit
  notify-deployment-failed:
    if: github.event_name == 'workflow_dispatch' && failure()
    name: Notify Failure In Slack
    needs: deploy-backend
    uses: ./.github/workflows/notify-slack.yml
    with:
      env-name: production
      message: "[Production Backend Deployment] Failed"
      job-status: "failure"
      emoji: ":cry:"
    secrets: inherit
  notify-deployment-cancelled:
    if: github.event_name == 'workflow_dispatch' && cancelled()
    name: Notify Cancelled In Slack
    needs: deploy-backend
    uses: ./.github/workflows/notify-slack.yml
    with:
      env-name: production
      message: "[Production Backend Deployment] Cancelled"
      job-status: "cancelled"
      emoji: ":neutral_face:"
    secrets: inherit
