name: Lint, Test and Deploy Production

# This workflow can only be run manually (workflow_dispatch)
on:
  workflow_dispatch:

concurrency:
  group: lint-test-deploy-production
  cancel-in-progress: false # here, we don't want to cancel in-progress workflows or we risk terminating a deployment while it's midway through

jobs:
  lint-and-test:
    uses: ./.github/workflows/lint-and-test.yml
  deploy:
    needs: lint-and-test
    if: needs.lint-and-test.result == 'success'
    name: Deploy To Production Environment
    uses: ./.github/workflows/deploy-production.yml
    secrets: inherit
  notify-deployment-success:
    if: success()
    name: Notify Success In Slack
    needs: [lint-and-test, deploy]
    uses: ./.github/workflows/notify-slack.yml
    with:
      env-name: production
      message: "[Production Deployment] Successful"
      job-status: "success"
      emoji: ":party-parrot:"
    secrets: inherit
  notify-deployment-failed:
    if: failure()
    name: Notify Failure In Slack
    needs: [lint-and-test, deploy]
    uses: ./.github/workflows/notify-slack.yml
    with:
      env-name: production
      message: "[Production Deployment] Failed"
      job-status: "failure"
      emoji: ":cry:"
    secrets: inherit
  notify-deployment-cancelled:
    if: cancelled()
    name: Notify Cancelled In Slack
    needs: [lint-and-test, deploy]
    uses: ./.github/workflows/notify-slack.yml
    with:
      env-name: production
      message: "[Production Deployment] Cancelled"
      job-status: "cancelled"
      emoji: ":neutral_face:"
    secrets: inherit
