name: Update Browserslist Database

# This workflow is run automatically every Sunday @ midnight or it can be manually invoked
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * SUN" # every Sunday at midnight

permissions:
  contents: write
  pull-requests: write

jobs:
  update-browserslist-database:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup NodeJS Environment
        uses: actions/setup-node@v4
        with:
          cache: "npm"
          node-version: "18.x"

      - name: Setup NPM
        run: |
          npm install -g npm@8.19.4

      - name: Configure git
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
      - name: Update Browserslist database and create PR if applies
        uses: c2corg/browserslist-update-action@v2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: browserslist-update
          base_branch: main
          commit_message: "Update Browserslist db"
          title: "Update Browserslist db"
          body: Auto-generated by [browserslist-update-action](https://github.com/c2corg/browserslist-update-action/)
          labels: "Chore,Automated"
